<section
	id="about"
	class="bg-[url(../images/background/BgAbout.png)] bg-cover bg-bottom bg-no-repeat lg:h-screen">
	<div class="container mx-auto text-neutral-600">
		<h2 class="pt-16 text-center text-4xl font-normal md:text-6xl">
			Acerca de mi
		</h2>
		<hr class="mx-auto mb-0 mt-12 h-2 w-24 bg-[color:var(--main-color)]" />
		<div class="flex w-full flex-wrap items-center justify-center gap-16 px-8">
			<img
				class="lg:w-2/5"
				src="../images/pictures/DeveloperPopUps.png"
				alt=""
			/>
			<p
				class="hyphens-auto sm:hyphens-none md:leading-8 lg:w-6/12 lg:px-8 lg:py-12 lg:text-base lg:leading-[2.7rem] xl:text-lg xl:leading-[2.7rem] 2xl:text-2xl 2xl:leading-[2.7rem]">
				¡Hola! Soy un programador <b>Front-End</b> especializado en
				<b>React JS</b>, y estoy emocionado por compartir mi experiencia
				contigo. Mi pasión por la programación comenzó hace años y desde
				entonces he estado dedicado a aprender y desarrollar mis habilidades en
				el campo de la tecnología. Estoy constantemente actualizando mis
				conocimientos y aprendiendo nuevas tecnologías para mantenerme al día
				con las últimas tendencias en el mundo del desarrollo web. Ansioso por
				trabajar en proyectos emocionantes y colaborar con otros profesionales
				de la industria para seguir creciendo en el campo de la tecnología. Si
				estás buscando a alguien apasionado, comprometido y con ganas de
				aprender,
				<i
					class="transition-all duration-300 hover:text-black hover:shadow-black hover:drop-shadow-lg"
					><a href="#contact">¡no dudes en contactarme!</a></i
				>
			</p>
		</div>
	</div>
</section>
