<footer
	class="flex h-24 items-center justify-center bg-teal-300 text-base lg:text-2xl">
	<p class="m-0 px-4 text-center">
		Hecho por <b>Francisco Campos Amoedo.</b> Todos los derechos reservados.
	</p>
</footer>
