<section
	id="home"
	class="flex h-screen w-full items-center justify-center lg:items-end xl:justify-around 2xl:justify-evenly">
	<div
		class="m-0 w-[400px] p-0 pb-40 text-center lg:absolute lg:left-12 lg:top-[270px] lg:my-auto lg:w-[600px] lg:pb-60 lg:pl-24 lg:text-start xl:left-0 xl:top-[200px] xl:w-[900px] 2xl:top-80 2xl:mx-20">
		<h1 class="text-3xl font-normal sm:text-4xl lg:text-5xl xl:text-7xl">
			Hola!, soy <span class="font-bold">Francisco Campos Amoedo</span>
		</h1>
		<button
			class="mx-8 my-8 rounded-3xl border-2 border-solid border-white bg-white px-0 py-2 text-xl transition-all duration-300 hover:ring-2 hover:ring-teal-400 hover:ring-offset-4 hover:ring-offset-transparent md:mx-0 md:text-3xl lg:w-[250px] lg:text-xl xl:w-[400px] xl:text-3xl">
			<a href="#contact">
				<span class="lg:mx-2 lg:my-0 xl:mx-4">Trabajemos juntos</span>
				<img
					class="inline w-[10%]"
					src="../images/icons/Flecha.png"
					alt="Arrow"
				/>
			</a>
		</button>
	</div>
</section>
<img
	class="relative bottom-[116px] right-0 hidden max-h-[90vh] max-w-[50vw] lg:absolute lg:bottom-0 lg:block lg:max-w-[60vw] 2xl:mr-20"
	src="../images/pictures/Profile2copia.png"
	alt="Francisco Campos"
/>
