<section
    id="home"
    class="flex h-screen w-full items-end justify-evenly 2xl:justify-around"
>
    <div
        class="x mx-auto my-0 w-[900px] pb-60 2xl:absolute 2xl:left-0 2xl:top-[200px]"
    >
        <h1 class="text-8xl font-normal">
            Hola!, soy <span class="font-bold">Francisco Campos Amoedo</span>
        </h1>
        <button
            class="mx-8 my-0 w-96 rounded-3xl border-none bg-white px-2 py-0 text-3xl"
        >
            <a href="#contact">
                <span class="mx-0 my-4">Trabajemos juntos</span>
                <img class="w-[10%]" src="../images/icons/Flecha.png" alt="" />
            </a>
        </button>
    </div>
</section>
<img
    class="relative bottom-[116px] right-0 max-h-[90vh] max-w-[50vw] 2xl:absolute 2xl:bottom-0 2xl:max-w-[60vw]"
    src="../images/pictures/Profile2.png"
    alt=""
/>
